.u-section-1 .u-sheet-1 {
  min-height: 9027px;
}

.u-section-1 .u-text-1 {
  margin: 19px -234px 0 234px;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}